.switch {
  cursor: pointer;
  width: 50px;
  height: 20px;
  border-radius: 16px;
  background-color: var(--danger-color);
  text-align: left;
}

.switch.on {
  background-color: var(--active-button);
  text-align: right;
}

.switch::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 21px;
  background-color: var(--letter-color);
  border-radius: 50%;
}