.switch {
  width: 50px;
  height: 2px;
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.562);
  text-align: left;
  padding-bottom: 1rem;
}

.switch.on {
  background-color: var(--active-button);
  text-align: right;
}

.switch::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--letter-color);
  border-radius: 100%;
  border: 1px solid black;
  margin-top: -8px;
}