.stack-fieldset {
  padding: 1rem;
  margin: 0 1rem;
  border: 1.5px solid var(--line-color);
  border-radius: 10px;
  font-size: 1.3rem;
}

.card-personal-data .stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem 1rem;
  position: relative;
}

.card-personal-data .stack-container .pencil-icon {
  font-size: 1.3rem;
  position: absolute;
  padding: .5rem 1rem;
  top: -1.5rem;
  right: -1rem;
  cursor: pointer;
}

.card-personal-data .stack-container .stack-item {
  background-color: var(--letter-color);
  filter: opacity(50%);
  color: var(--secondary-color);
  padding: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}