.card-job-preferences {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  border: 1px solid var(--line-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: .5rem;
  margin: 0 1rem;
  position: relative;
}

.card-job-preferences h2 {
  padding-right: 2rem;
}

.card-job-preferences .pencil-icon {
  font-size: 1.3rem;
  position: absolute;
  padding: .5rem 1rem;
  right: 10px;
}

.card-job-preferences .up-container,
.card-job-preferences .down-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  line-height: 35px;
  font-size: 1.2rem;
}

.card-job-preferences .down-container {
  border-top: 1.5px solid var(--line-color);
  padding: 1rem 0;
  margin: 0 2rem;
}

.card-job-preferences .item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: start;
}

.card-job-preferences .item-container svg {
  font-size: 2rem;
}