.body-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 4rem;
}

.login label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 300px;
  text-align: center;
}

form .btn-close {
  display: none;
}

form.login input {
  background-color: var(--primary-color);
  color: var(--letter-color);
  width: 280px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--line-color);
  margin: 0 auto;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 0.5rem;
}

.entrar-button {
  width: 140px;
  height: 35px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 3px;
  transition: all 300ms;
}

.entrar-button:hover {
  background-color: var(--active-button);
}

.register-button {
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
}

.close-container {
  display: flex;
  justify-content: flex-end;
}

.body-login .error {
  color: red;
  margin-top: 10px;
  font-size: 25px;
}

.body-login .register-ok {
  color: var(--active-button);
}


@media (max-width:480px) {
  .login .btn-close {
    display: inline;
  }
}