.newe-profile-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 75%;
  min-width: 375px;
  margin: 0 1rem;
  gap: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 2rem 0;
  border: 1px solid var(--line-color);
  background-color: var(--secondary-color);
}

.newe-profile-container menu {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  padding-left: 1rem;
  gap: 1.5rem;
}

.newe-profile-container menu button {
  border: none;
  padding: .5rem 0;
  background-color: transparent;
  color: var(--letter-color);
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
}

.newe-profile-container .active {
  color: var(--active-button);
  border-bottom: 2px solid var(--active-button);
}


.newe-profile-container .card-newe-profile {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 1rem 0 1.5rem;
}

.newe-profile-container .card-newe-profile .radar-skills-card {
  width: 80%;
  border: 1px solid var(--line-color);
  padding: 1rem;
  border-radius: 10px;
}


.newe-profile-container .card-newe-profile .radar-skills-card .others-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.newe-profile-container .card-newe-profile .radar-skills-card .others-skills-container h3 {
  width: 100%;
}

.newe-profile-container .card-newe-profile .radar-skills-card .others-skills-container .others-skills-card {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  background-color: var(--primary-color);
  font-size: .7rem;
  border-radius: 5px;
}

.newe-profile-container .card-newe-profile .radar-skills-card .others-skills-container .others-skills-card svg {
  font-size: 4rem;
  color: var(--active-button);
}



.newe-profile-container .add-experience-button {
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: .5rem 1rem;
  cursor: pointer;
}