.newe-profile-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 75%;
  min-width: 375px;
  margin: 0 1rem;
  gap: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 2rem 0;
}

.newe-profile-container menu {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  padding-left: 1rem;
  gap: 1.5rem;
}

.newe-profile-container menu button {
  border: none;
  padding: .5rem 0;
  background-color: transparent;
  color: var(--letter-color);
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
}

.newe-profile-container .active {
  color: var(--active-button);
  border-bottom: 2px solid var(--active-button);
}


.newe-profile-container .newe-profile-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 3px solid var(--line-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 1rem 0 1.5rem;
}

.newe-profile-container .newe-profile-card .radar-skills-card {
  width: 80%;
  border: 1px solid var(--line-color);
  padding: 1rem;
  border-radius: 10px;
}


.newe-profile-container .newe-profile-card .radar-skills-card .others-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.newe-profile-container .newe-profile-card .radar-skills-card .others-skills-container h3 {
  width: 100%;
}

.newe-profile-container .newe-profile-card .radar-skills-card .others-skills-container .others-skills-card {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  background-color: var(--primary-color);
  font-size: .7rem;
  border-radius: 5px;
}

.newe-profile-container .newe-profile-card .radar-skills-card .others-skills-container .others-skills-card svg {
  font-size: 4rem;
  color: var(--active-button);
}



.newe-profile-container .timeline-container .add-experience-button {
  width: 30%;
  max-width: 400px;
  margin: auto;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  background-color: var(--active-button);
  color: var(--letter-color);
  border: none;
  border-radius: 10px;
  text-align: center;
}

.newe-profile-container .timeline-container .projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20% 2rem 2rem;
  box-sizing: border-box;
}

.newe-profile-container .timeline-container .projects-container .project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 35%;
  margin-top: -10%;
  box-sizing: border-box;
}

.newe-profile-container .timeline-container .projects-container .project-card .data-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--letter-color);
  border-radius: 10px;
  border: 2px solid var(--line-color);
}

.newe-profile-container .timeline-container .projects-container .project-card .data-container p {
  font-size: 1rem;
}

.newe-profile-container .timeline-container .projects-container .project-card .buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.newe-profile-container .timeline-container .projects-container .project-card .buttons-container button {
  padding: .5rem 1rem;
  background-color: transparent;
  color: var(--letter-color);
  font-size: 1.5rem;
  border: 1px solid var(--line-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.newe-profile-container .timeline-container .projects-container .project-card h3,
.newe-profile-container .timeline-container .projects-container .project-card a {
  text-decoration: none;
  color: var(--active-button);
}

@media (max-width: 768px) {
  .newe-profile-container .timeline-container .add-experience-button {
    width: 60%;
    max-width: 600px;
    font-size: 1rem;
  }

  .newe-profile-container .timeline-container .projects-container .project-card {
    width: 90%;
    border-radius: 10px;
    margin-top: 0;
  }

  .newe-profile-container .timeline-container .projects-container .project-card:nth-child(odd) {
    align-self: center;
  }

  .newe-profile-container .timeline-container .projects-container .project-card:nth-child(even) {
    align-self: center;
  }
}


.newe-profile-container .timeline-container .projects-container .project-card:nth-child(odd) {
  align-self: flex-start;
  margin-left: 4rem;
}

.newe-profile-container .timeline-container .projects-container .project-card:nth-child(even) {
  align-self: flex-end;
  margin-right: 4rem;
}

.newe-profile-container .timeline-container .projects-container .project-card p {
  font-size: .8rem;
}