.card-personal-data {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid var(--line-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding-bottom: 1rem;
  position: relative;
  margin: 10rem 1rem 0;
}

.images-container .pencil-icon,
.card-personal-data .data-container .pencil-icon {
  font-size: 1.3rem;
  position: absolute;
  padding-top: 20px;
  right: 10px;
}

@media (min-width: 768px) {

  .images-container .pencil-icon,
  .card-personal-data .data-container .pencil-icon {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
  }
}


.card-personal-data .images-container .header-img {
  width: 100%;
  max-height: 300px;
}

.card-personal-data .images-container .avatar {
  margin-top: -50px;
  border-radius: 50%;
  width: 100px;
}

.card-personal-data .data-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.7rem;
  line-height: 22px;
}

.card-personal-data .data-container .pencil-icon {
  margin-top: -75px;
}

.card-personal-data .data-container p {
  display: flex;
  align-items: center;
  justify-content: center;
}



.card-personal-data .data-container p svg {
  font-size: 1.5rem;
}

.card-personal-data .data-container .social-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.card-personal-data .data-container .social-container a {
  color: var(--letter-color);
}

fieldset {
  padding: 1rem;
  margin: 0 1rem;
  border: 1.5px solid var(--line-color);
  border-radius: 10px;
  font-size: 1.3rem;
}

.card-personal-data .stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem 1rem;
  position: relative;
}

.card-personal-data .stack-container .pencil-icon {
  font-size: 1.3rem;
  position: absolute;
  padding: .5rem 1rem;
  top: -1.5rem;
  right: -1rem;
  cursor: pointer;
}

.card-personal-data .stack-container .stack-item {
  background-color: var(--letter-color);
  filter: opacity(50%);
  color: var(--secondary-color);
  padding: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}