.form-work-preferences {
  width: 600px;
  max-width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0 2rem;
}

.form-work-preferences fieldset {
  width: 100%;
  padding: 0 1rem .5rem .5rem;
}

.form-work-preferences input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--letter-color);
}

.form-work-preferences .edit-button {
  width: 100%;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border: none;
  background-color: var(--active-button);
  color: var(--letter-color);
  font-weight: bolder;
  font-size: 1rem;
  border-radius: 5px;
}