.register-form {
  width: 100%;
}

.register-form .inputs-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto);
  justify-items: center;
  gap: 2rem;
}

.register-form fieldset {
  width: 80%;
  padding: 0;
}

.register-form .switch {
  margin: 2rem auto;
}

.register-form .text-area-fieldset {
  margin: 2rem auto;
  text-align: center;
  width: 80%;
}

.register-form input,
.register-form textarea {
  background-color: var(--primary-color);
  color: var(--letter-color);
  width: 100%;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  margin: 0 auto;
  box-sizing: border-box;
  transition: all 300ms;
}

.error-text {
  box-sizing: border-box;
  width: 220px;
  font-size: 1rem;
  position: absolute;
  background-color: white;
  color: rgba(255, 0, 0, 0.699);
  margin: 0.5rem 0;
  padding: 0.2rem 1rem 1rem 0.5rem;
  border-radius: 10px;
}

.register-form textarea {
  height: 175px;
}


.register-form .buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 5rem;
  width: 100%;
  margin-top: 2rem;
}

.register-form .buttons-container button,
.insert-data-demo-button {
  width: 400px;
  padding: .7rem 1rem;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 3px;
  transition: all 300ms;
}

.register-form .buttons-container button:hover,
.insert-data-demo-button {
  background-color: var(--active-button);
}

@media (min-width: 768px) {
  .register-form .inputs-container {
    grid-template-columns: repeat(3, 1fr);
  }
}