@import './styles/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


:root {
  --primary-color: #14151f;
  --secondary-color: #1c1d2b;
  --letter-color: #fcfcfc;
  --line-color: #737375;
  --active-button: #569b51;
  --danger-color: rgb(200, 49, 49);
}



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.App {
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--letter-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  gap: 2rem;
  font-family: 'Inter', sans-serif;
}

@media (min-width: 768px) {

  .card-personal-data,
  .card-job-preferences,
  .newe-profile-container {
    margin: 2rem 1rem 0 calc(200px + 2rem);
  }
}