.newe-profile-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 60%;
  min-width: 375px;
  margin: 0 1rem;
  gap: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 2rem 0;
}

.newe-profile-container menu {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  padding-left: 1rem;
  gap: 1.5rem;
}

.newe-profile-container menu button {
  border: none;
  padding: .5rem 0;
  background-color: transparent;
  color: var(--letter-color);
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
}

.newe-profile-container .active {
  color: var(--active-button);
  border-bottom: 2px solid var(--active-button);
}